.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.game h1 {
    font-size: 22px;
}
.game .game__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
        padding: 0px 0px 25px 0;
    border-bottom: 1px solid #7a56e6;
    
}
.game .game__header-icon {
    width: 15%;
    object-fit: contain;
  

}
.game .game__box-points {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
}
.game .game__points {
    line-height: 1px;
}

.game .game__tentativas {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2px;
    text-align: center;
}

.dica {
    display: flex;
    align-items: center;
    background-color: #1f1d40;
    border: 1px solid #444;
    border-radius: 10px;
    padding: 25px;
    width: 80%;
    margin: 35px 0;
}
.adivinhe {
    display: flex;
    flex-direction: column;
}
.adivinhe .adivinhe__box {
    display: flex;
}
.adivinhe .adivinhe__letter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 10px;
}

.tentativa .tetativa__input {
    background-color: transparent;
    padding: 15px 10px;
    margin: 0 10px;
   color: #fff;
    border: 1px solid #454069;
}
.tentativa .adivinhe__button {
    background-color: #7a56e6;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.tentativa .tentativa__warning {
    font-size: 12px;
    color: #f0f0f0;
    margin-top: 20px;
}

.utilizadas .utilizadas__letter {
    border: 1px solid #f0f0f0;
    padding: 15px;
    border-radius: 100%;
    width: 5%;
    text-align: center;
}